@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: #4b5563 #1f2937;
  }

  *::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  *::-webkit-scrollbar-track {
    background: #1f2937;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #4b5563;
    border-radius: 6px;
    border: 2px solid #1f2937;
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: #6b7280;
  }

  body {
    @apply bg-gray-900 text-white;
  }
}
